*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background-color: white;
}

.carousel-container {
    position: relative;
    max-width: 600px;
    margin: auto;
    overflow: hidden;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease;
    width: 300%;
}

.slide {
    position: relative;
    flex: 0 0 33.33%;
}

.slide img {
    width: 100%;
    height: auto;
}

.text-overlay {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 1;
}

#prevBtn {
    left: 0;
}

#nextBtn {
    right: 0;
}
